
<div class="content"> 
   <div class="toolbar">
      <div class="header-left-corner">
         <a href="http://cyclop.se">
            <span class="embeditor-icon">
               <i class="material-icons md-64 icon-align-middle">album</i>
            </span>
            <span class="titlebar-title">
                 <div class="titlebar-cyclopse"> cyclop.se </div>
            </span>
         </a>
      </div>
      <div class="header-right-corner">
         <div class="button-bank">
            <a href="{{share.twitter}}" target="_blank">
               <span class="fa-stack fa-lg">
                 <i class="fa fa-circle fa-stack-2x twitter-color"></i>
                 <i class="fa fa-twitter fa-stack-1x icon-color"></i>
               </span>
            </a>
            <a href="{{share.facebook}}" target="_blank">
               <span class="fa-stack fa-lg">
                 <i class="fa fa-circle fa-stack-2x facebook-color"></i>
                 <i class="fa fa-facebook fa-stack-1x icon-color"></i>
               </span>
            </a>
            <a href="{{share.tumblr}}" target="_blank">
               <span class="fa-stack fa-lg">
                 <i class="fa fa-circle fa-stack-2x tumblr-color"></i>
                 <i class="fa fa-tumblr fa-stack-1x icon-color"></i>
               </span>
            </a>
         </div>

      </div>
   </div>
   <div class="center">
      <div class="video-wrapper">
         <div id="cyclopse-overlay" class="embedlam-overlay">
            <div class="embedlam-spinner">
               <div id="loader-div" class="embedlam-loader"></div>
            </div>
         </div>
         <div id="cyclopse-youtube-player" class="player"></div>
      </div>
   </div>
   <div class="toolbar footer">
      <div class="footer-left-corner">
         <div class="cyclopse-slogan">
            <a href="http://cyclop.se"> Edit & loop any Youtube video, online.  </a>
         </div>
         <div class="clip-text">
            <span> {{video.description}} of </span>
            <a class="link-text" href="{{video.youtubeUrl}}" target="_blank"> {{video.title}} </a>
         </div>
      </div>
      <div class="footer-right-corner">
         <span class="titlebar-powered"> powered by </span>
         <span class="fa fa-youtube youtube-icon md-48"></span>
      </div>
   </div>
</div> 